@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.root {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex-direction: column;
  z-index: 3;
  overflow: hidden;

  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

/* и элемента с модификатором вида ключ-значение */

.logo {
  height: 32px;
  width: 228px;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-size: cover;

  background-image: url(../images/logo_place_header.svg);
}
.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  box-sizing: border-box;
  margin: 0 0 0 64px;
  padding: 0;
  z-index: 3;
}
.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 3;
}
.header__link {
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 1s ease;
}
.header__link:hover {
  opacity: 0.5;
}
.header__main-illustration {
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 2;
  box-sizing: border-box;
}
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  box-sizing: border-box;
  z-index: 1;
}
.description {
  margin: 100px 0 0 0;
  display: flex;
  justify-content: center;
}
.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0;
}
.two-columns__bref {
  display: flex;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}
.two-columns__main-text {
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
}
.two-columns__paragraph {
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
}
.two-columns__paragraph:last-of-type {
  margin: 0;
}
.techniques {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 0 auto;
}

.cards {
  display: flex;
  width: 920px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.cards__item {
  list-style: none;
  width: 240px;
  margin-right: 100px;
}
.cards__item:nth-of-type(3n) {
  margin-right: 0;
}
.cards__image {
  width: 160px;
  height: 160px;
  margin: 60px 40px 0 40px;
  border-radius: 50%;
}
.cards__title {
  margin: 43px 0 16px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.cards__description {
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
.video {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.video__iframes {
  display: flex;
  margin: 0 auto 0 auto;
  position: relative;
  top: 50px;
}
.video__iframe {
  border: 0;
}
.video__iframe:first-of-type {
  margin-right: 20px;
}
.oakley {
  padding-top: 160px;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}
.khan {
  display: flex;
  background-color: #f2f2f2;
}
.khan__container {
  width: 80%;
  margin: 105px auto 0 auto;
}
.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}
.khan__title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}
.khan__quote {
  margin: 50px 0 36px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.khan__quotee-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 10px 0;
}
.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 68px 0;
}
.khan__book-container {
  display: flex;
}
.khan__book-pic {
  width: 620px;
  height: 608px;
  box-sizing: border-box;
  object-fit: cover;
  object-position: top;
}
.khan__buy-link {
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  margin-left: 48px;
  transition: opacity 1s ease;
}
.khan__buy-link:hover {
  opacity: 0.5;
}
.digits {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title {
  display: flex;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  margin-top: 100px;
  margin-bottom: 20px;
  justify-content: center;
}
.section-subtitle {
  display: flex;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: 0;
  justify-content: center;
}
.table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto 100px auto;
  padding: 0;
  justify-content: space-between;
}
.table__cell {
  flex-wrap: wrap;
  margin-top: 60px;
  width: 250px;
  list-style: none;
}
.table__heading {
  margin-bottom: 20px;
  margin-top: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.table__text {
  margin: 0 0 20px 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.table__text:last-of-type {
  margin-bottom: 0;
}
.feynman {
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-height: 890px;
  z-index: 1;
}
.feynman__title {
  width: 648px;
  margin-top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
  z-index: 3;
}
.feynman__subtitle {
  line-height: 52px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px 0 0 0;
  padding: 0;
  z-index: 3;
}
.feynman__link {
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  transition: opacity 1s ease;
}
.feynman__link:hover {
  opacity: 0.5;
}
.feynman__image {
  background-size: cover;
  position: absolute;
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
  z-index: 2;
  box-sizing: border-box;
}
.kaufman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  overflow: hidden;
  background-color: #1f1f1f;
}

.section-title_theme_dark {
  margin-top: 90px;
  color: #ffffff;
  z-index: 3;
}
.section-subtitle_theme_dark {
  color: #ffffff;
}
.table_theme_dark {
  margin-bottom: 90px;
  z-index: 3;
  color: #ffffff;
}
.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
}
.table__heading_theme_dark {
  color: #ffffff;
}
.table__text_theme_dark {
  color: #ffffff;
}

.kaufman__triangle {
  position: absolute;
  background-image: url(/images/kaufman-triangle.svg);
  background-size: contain;
  box-sizing: border-box;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: 1;
}
.rotation {
  animation: rotation 20s linear infinite;
}
.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 217px auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.resources__link {
  padding: 0;
  margin: 0;
  transition: opacity 1s ease;
}
.resources__link:hover {
  opacity: 0.5;
}
.resources__logo {
  width: 270px;
  height: 38px;
}
.footer {
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px auto;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  background-size: cover;
  background-image: url(../images/logo_place_footer.svg);
}
.footer__author {
  margin: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
}
.footer__column-heading {
  color: #ffffff;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 16px 0;
}
.footer__column-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.footer__column-link {
  color: #ffffff;
  text-decoration: none;
  transition: opacity 1s ease;
}
.footer__column-link:hover {
  opacity: 0.5;
}
